extends base
block content
    include navigation
    .container
        .header
        div(id='content')
            h2 Aggregation of data collected just a second ago.
            h4 sum( x+y+z )
            h4 last message, data of :
                span.ml#counted
                span.ml messages
            div#dataX


    script(src='/socket.io/socket.io.js')
    script(src="/d3/d3.min.js" charset="utf-8")
    script(src='scripts/barCharts.js')
    script(src='scripts/drawAggregatedChartLive.js')

