block navigation
.navbar.navbar-default
    .container-fluid
        ul.nav.nav-pills.tp
            li(role="presentation")
                a(href="/cockpit") Live Messages
            li(role="presentation")
                a(href="/cockpit-aggregated") Live Aggregation
            li(role="presentation")
                a(href="/cockpit-on-demand") On Demand Aggregation
            li(role="presentation")
                a(href="/notes") Notes