systemLog:
 destination: file
 path: "mongodb.log"
 quiet: true
 logAppend: true
storage:
 dbPath: "data"
 directoryPerDB: true
processManagement:
 fork: true
net:
 port: 27017
#replication:
# replSetName: rs0
# oplogSizeMB: 20480
# secondaryIndexPrefetch: all
setParameter:
 newCollectionsUsePowerOf2Sizes: false